h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Orbitron, sans-serif;
}
body,
html {
  height: 100%;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  font-size: 110%;
}
.hero-image {
  background-image: url(../img/porscheVintageHome.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-imageRace {
  background-image: url(../img/porscheRace.jpg);
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-imageModelle {
  background-image: url(../img/porsche-oldtimer.jpg);
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-imageGeschichte {
  background-image: url(../img/porschegeschichte.jpeg);
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.head {
  text-align: center;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.w3-bar.scrolled {
  background-color: rgb(0, 0, 0);
  color: white;
}
.w3-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}

iframe {
  width: 80%;
  height: 650px;
}
#map {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
